<ul class='author-list'>
  {{#each authors}}
    <li key="{{ id }}" class="author-item mt-2 border border-gray-300 rounded-md hover:outline-none hover:ring-2 hover:ring-blue-500 hover:border-transparent">
      <button
        class="cursor-pointer py-2 px-3"
        hx-post="/authors"
        hx-ext="json-enc"
        hx-params="newAuthor, id, name"
        hx-include="input[name='id'], input[name='name']"
        hx-target="#author-selector-container"
        hx-swap="outerHTML"
        hx-vals='{ "newAuthor": { "id": "{{ id }}", "name": "{{ name }}" } }'
      >
        {{name}}
      </button>
    </li>
  {{/each}}
</ul>
