<nav class='bg-white shadow-sm sticky top-0 z-10'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex justify-between h-16'>
      <div class='flex items-center'>
        <a href='/' class='flex items-center'>
          <img class='w-13 h-13' src='/nav-icon.svg' />
          <span class='ml-2 text-xl font-semibold text-gray-800'>Библиотека</span>
        </a>
        <div class='hidden md:flex ml-8 space-x-6'>
          <a
            href='/'
            class='text-gray-600 hover:text-blue-600 font-medium transition-colors duration-200'
          >
            Главная
          </a>
          {{#if user}}
          <a
            href='/bookmarks'
            class='text-gray-600 hover:text-blue-600 font-medium transition-colors duration-200'
          >
            Закладки
          </a>
          {{/if}}
        </div>
      </div>

      <div class='flex items-center space-x-4'>
        {{#if user}}
          {{#if (eq user.role 2)}}
            <a
              href='/books/new'
              class='text-gray-600 hover:text-blue-600 font-medium transition-colors duration-200'
            >
              Добавить книгу
            </a>
          {{/if}}
          <span class='text-gray-600 font-medium'>{{user.email}}</span>
          <button
            hx-post="/logout"
            class='cursor-pointer text-gray-600 hover:text-red-600 font-medium transition-colors duration-200'
            href='/logout'
          >Выйти</button>
        {{else}}
          <a
            href='/login'
            class='relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-200'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-4 w-4 mr-2'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1'
              />
            </svg>
            Войти / Зарегистрироваться
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
