{{#if user}}
  <div>
    Welcome,
    {{user.email}}!
  </div>
  <a href="/books" class="text-blue-800">Search books</a>
{{else}}
  <div>
    Who are you? Try
    <a href='/login' class='text-blue-800'>logging in</a>
  </div>
{{/if}}
