{{#if user}}
  <div>
    Welcome,
    {{user.email}}!
  </div>
  <div class="flex flex-col mt-2">
    <a href='/books' class='text-blue-800'>Search books</a>
    {{#if isAdmin}}
      <a href='/admin' class='text-blue-800'>Add books</a>
    {{/if}}
  </div>
{{else}}
  <div>
    Who are you? Try
    <a href='/login' class='text-blue-800'>logging in</a>
  </div>
{{/if}}
