<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="text-red bg-slate-300">If the text is black, then tailwind works</div>
  </body>
</html>
