<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/compiled.css">
    <script src="/htmx@1.9.12.js"></script>
    <script src="/json-enc@1.9.12.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
